[mcu displayEncoder]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_0E0007000D43534E30333220-if00
restart_method: command

[display]
lcd_type: sh1106
i2c_mcu: displayEncoder
i2c_bus: i2c1a
encoder_pins: ^!displayEncoder:PA3, ^displayEncoder:PA4
click_pin: ^!displayEncoder:PA1
kill_pin: ^!displayEncoder:PA5
vcomh: 17
x_offset:2 
#   Set the Vcomh value on SSD1306/SH1106 displays. This value is
#   associated with a "smearing" effect on some OLED displays. The
#   value may range from 0 to 63. Default is 0.
#   Adjust this value if you get some vertical stripes on your display. (31 seems to be a good value)

#   RGB Values should be set to match your printer colour scheme
[neopixel displayStatus]
pin: displayEncoder:PA0
chain_count: 1
color_order: GRB
initial_RED: 0.1
initial_GREEN: 0.1
initial_BLUE: 0.1
